* {
  --color-light: #f4f1de;
  --color-orange: #e07a5f;
  --color-blue: #3d405b;
  --color-green: #81b29a;
  --color-yellow: #f2cc8f;
}
body {
  background-color: var(--color-light);
}
header {
  height: 40px;
  background-color: var(--color-blue);
  width: 100%;
  color: var(--color-light);
  display: flex;
  align-items: center;
}

a.active {
  color: var(--color-light);
  text-decoration: none;
}

a {
  color: var(--color-green);
  text-transform: uppercase;
  padding: 10px;
}
